#masthead {
	background-color: transparent;
	transition: $tranisition__basic;
	position: fixed;
	z-index: 9999;
	&.scrolled {
		background-color: $color__secondary;
	}
}

.masthead-inner {
	display: flex;
    align-items: baseline;
    justify-content: space-between;
	align-items: center;
}
// #primary-menu {
// 	display: inline-block;
// }
// .custom-logo img {
// 	max-width: 50%;
// }

#site-navigation {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
}

@media screen and (max-width: 999px) {
	.main-menu-wrap {
		display: flex;
		position: fixed;
		z-index: 900;
		top: 0;
		right: -200%;
		height: 100dvh;
		padding: 30px;
		background: $color__secondary;
		transition: $tranisition__basic;
		box-shadow: 0 0 22px #00000082;
		width: 100%;
	}
	.toggled .main-menu-wrap  {
		right: 0;
	}
}

.main-navigation {
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 9999;
			display: block;
			background: $color__white;

			ul {
				left: -999em;
				top: 0;
				z-index: 99999;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
					position: relative;
				}
			}

			a {
				width: 200px;
			}

			// :hover > a,
			// .focus > a {
			// }

			// a:hover,
			// a.focus {
			// }
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;
		padding: 0 5px;
		// &:hover > a,
		// &.focus > a {
		// }
	}

	a {
		display: block;
		text-decoration: none;
	}

	// .current_page_item > a,
	// .current-menu-item > a,
	// .current_page_ancestor > a,
	// .current-menu-ancestor > a {
	// }
}

/* hamburger menu */
.main-navigation {
	&.toggled {
		#haw-hamburger {
			span:nth-child(2) {
				opacity: 0;
			}
			span:nth-child(1) {
				-webkit-transform: translateY(13px) rotate(45deg);
				-ms-transform: translateY(13px) rotate(45deg);
				-o-transform: translateY(13px) rotate(45deg);
				transform: translateY(13px) rotate(45deg);
			}
			span:nth-child(3) {
				-webkit-transform: translateY(-13px) rotate(-45deg);
				-ms-transform: translateY(-13px) rotate(-45deg);
				-o-transform: translateY(-13px) rotate(-45deg);
				transform: translateY(-13px) rotate(-45deg);
			}
		}
		@media screen and (max-width: 999px) {
			ul {
				display: flex;
				flex-direction: column;
			}
		}
	}
}

#haw-hamburger {
	// position: fixed;
	z-index: 999;
	top: 32px;
	// right: 20px;
	transition: $tranisition__basic;
	cursor: pointer;
	span {
		width: 50px;
		height: 4px;
		background-color: $color__black;
		display: block;
		margin: 9px auto;
		-webkit-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		border-radius: 4px;
		&:nth-child(2), &:nth-child(3) {
			margin-top: 6px;
		}
	}
}

@media screen and (min-width: 1000px) {
	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
		gap: 20px;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
