// Theme colours
$color__black: #000;
$color__white: #fff;
$color__grey: #929292;
$color__primary: #8556b9;
$color__secondary: #1da8a1;

// Background colours
$color__background-body: $color__white;
$color__background-screen: $color__white;

// Text colour variables
$color__text-screen: $color__primary;
$color__text-main: $color__black;

// Link colours
$color__link: $color__primary;
$color__link-visited: $color__grey;
$color__link-hover: $color__secondary;

// Buttons & form field colour variables
$color__border-input: $color__grey;
$color__text-input: $color__grey;
$color__text-input-focus: $color__black;
